<a href="https://colab.research.google.com/github/BilalKhaliqWillis/BILAL-Assignment2/blob/main/Bilal_Assignment_4_Data_Processing_Python_Development_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from functools import reduce
import itertools

print("Bilal-Assignment 4\n")

Bilal-Assignment 4

In [3]:
# Create a DataFrame with the given data for Name, Age, and City
try:
    data = {
        "Name": ["Alice", "Bob", "Charlie", "Diana"],
        "Age": [28, 34, 22, 45],
        "City": ["Toronto", "Montreal", "Vancouver", "Calgary"]
    }
    df = pd.DataFrame(data)
    # Ensure correct dtypes
    df['Name'] = df['Name'].astype(str)
    df['Age'] = df['Age'].astype(int)
    df['City'] = df['City'].astype(str)
    print("Task 1 - DataFrame created:")
    print(df)
    print(df.dtypes, "\n")
except Exception as e:
    print("Error in Task 1:", e)

Task 1 - DataFrame created:
      Name  Age       City
0    Alice   28    Toronto
1      Bob   34   Montreal
2  Charlie   22  Vancouver
3    Diana   45    Calgary
Name    object
Age      int64
City    object
dtype: object

In [4]:
# Row and Column Manipulation:
# Drop 'City' column and verify
try:
    df_no_city = df.drop(columns=['City'])
    print("Task 2 - After dropping 'City':")
    print(df_no_city)
    # Verify
    expected_cols = set(['Name', 'Age'])
    actual_cols = set(df_no_city.columns)
    assert actual_cols == expected_cols, f"Columns mismatch: {actual_cols}"
    print("Verification passed: only 'Name' and 'Age' columns present.\n")
except Exception as e:
    print("Error in Task 2:", e)

Task 2 - After dropping 'City':
      Name  Age
0    Alice   28
1      Bob   34
2  Charlie   22
3    Diana   45
Verification passed: only 'Name' and 'Age' columns present.

In [5]:
# Handling Null Values
# Create DataFrame with nulls and demonstrate handling methods
try:
    df_nulls = pd.DataFrame({
        "A": [1, np.nan, 3],
        "B": ["x", "y", None],
        "C": [10.5, np.nan, 30.2]
    })
    print("Task 3 - Original with nulls:")
    print(df_nulls, "\n")

    # Method 1: fill nulls (different filling strategies)
    df_filled = df_nulls.copy()
    df_filled['A'] = df_filled['A'].fillna(0)           # numeric -> 0
    df_filled['B'] = df_filled['B'].fillna("missing")   # string -> "missing"
    df_filled['C'] = df_filled['C'].fillna(df_filled['C'].mean())  # numeric -> mean
    print("Filled nulls (A->0, B->'missing', C->mean):")
    print(df_filled, "\n")

    # Method 2: drop rows with any nulls
    df_dropped = df_nulls.dropna()
    print("Dropped rows with any nulls:")
    print(df_dropped, "\n")

    # Method 3: forward-fill / back-fill
    df_ffill = df_nulls.fillna(method='ffill').fillna(method='bfill')
    print("Forward/backward filled:")
    print(df_ffill, "\n")
except Exception as e:
    print("Error in Task 3:", e)

Task 3 - Original with nulls:
     A     B     C
0  1.0     x  10.5
1  NaN     y   NaN
2  3.0  None  30.2

Filled nulls (A->0, B->'missing', C->mean):
     A        B      C
0  1.0        x  10.50
1  0.0        y  20.35
2  3.0  missing  30.20

Dropped rows with any nulls:
     A  B     C
0  1.0  x  10.5

Forward/backward filled:
     A  B     C
0  1.0  x  10.5
1  1.0  y  10.5
2  3.0  y  30.2

/tmp/ipython-input-741073972.py:26: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df_nulls.fillna(method='ffill').fillna(method='bfill')

In [6]:
# GroupBy and Describe
# GroupBy 'Category' and describe 'Value'
try:
    df_cat = pd.DataFrame({
        "Category": ["A", "A", "B", "B", "B", "C"],
        "Value": [10, 12, 8, 15, 9, 20]
    })
    print("Task 4 - Source data:")
    print(df_cat, "\n")

    grouped = df_cat.groupby('Category')['Value']
    # Apply describe per group
    desc = grouped.describe()
    print("Describe() for 'Value' grouped by 'Category':")
    print(desc, "\n")

    # Short interpretation printed simply:
    for cat, sub in grouped:
        s = sub.describe()
        print(f"Category {cat} -> count={s['count']}, mean={s['mean']:.2f}, std={s['std'] if s['count']>1 else 0:.2f}, min={s['min']}, max={s['max']}")
    print()
except Exception as e:
    print("Error in Task 4:", e)

Task 4 - Source data:
  Category  Value
0        A     10
1        A     12
2        B      8
3        B     15
4        B      9
5        C     20

Describe() for 'Value' grouped by 'Category':
          count       mean       std   min   25%   50%   75%   max
Category
A           2.0  11.000000  1.414214  10.0  10.5  11.0  11.5  12.0
B           3.0  10.666667  3.785939   8.0   8.5   9.0  12.0  15.0
C           1.0  20.000000       NaN  20.0  20.0  20.0  20.0  20.0

Category A -> count=2.0, mean=11.00, std=1.41, min=10.0, max=12.0
Category B -> count=3.0, mean=10.67, std=3.79, min=8.0, max=15.0
Category C -> count=1.0, mean=20.00, std=0.00, min=20.0, max=20.0

In [7]:
# Concatenation and Merging
# Concatenate df1 & df2 vertically & merge with df3 horizontally
try:
    df1 = pd.DataFrame({"id":[1,2], "val1":[10,20]})
    df2 = pd.DataFrame({"id":[3,4], "val1":[30,40]})
    df3 = pd.DataFrame({"id":[1,2,3,4], "val2":["a","b","c","d"]})

    # Concatenate vertically (rows)
    concat_vertical = pd.concat([df1, df2], axis=0, ignore_index=True)
    print("Task 5 - After vertical concatenation (df1 + df2):")
    print(concat_vertical, "\n")

    # Merge horizontally with df3 using 'id' as key
    merged = pd.merge(concat_vertical, df3, on='id', how='left')
    print("After merging with df3 (on 'id'):")
    print(merged)
    print("Resulting shape:", merged.shape, "\n")
except Exception as e:
    print("Error in Task 5:", e)

Task 5 - After vertical concatenation (df1 + df2):
   id  val1
0   1    10
1   2    20
2   3    30
3   4    40

After merging with df3 (on 'id'):
   id  val1 val2
0   1    10    a
1   2    20    b
2   3    30    c
3   4    40    d
Resulting shape: (4, 3)

In [9]:
# Tuples and Sets
# Tuple of fruits and set of numbers attempt to add element to both
try:
    fruits = ("apple", "banana", "cherry")  # tuple (immutable)
    numbers = {1, 2, 3, 4, 5}              # set (mutable)

    print("Task 6 - Original tuple and set:")
    print("tuple:", fruits)
    print("set:", numbers)

    # Attempt to add
    try:
        # Tuples are immutable; you can't append. Demonstrate safe method: create a new tuple.
        fruits_attempt = fruits
        # fruits_attempt.append("orange")  # would raise AttributeError if attempted
        fruits_new = fruits + ("orange",)  # produce a new tuple instead
        print("Added 'orange' by creating new tuple:", fruits_new)
    except Exception as e:
        print("Cannot modify tuple in-place:", type(e).__name__, e)

    # Sets can be modified in-place
    numbers.add(6)
    print("After adding 6 to set:", numbers)

    # Explanation:
    explanation = """
    We cannot change them in-place. We can add() and remove() elements.
    Additionally sets enforce uniqueness and do not preserve order.
    """
    print(explanation)
except Exception as e:
    print("Error in Task 6:", e)

Task 6 - Original tuple and set:
tuple: ('apple', 'banana', 'cherry')
set: {1, 2, 3, 4, 5}
Added 'orange' by creating new tuple: ('apple', 'banana', 'cherry', 'orange')
After adding 6 to set: {1, 2, 3, 4, 5, 6}

    We cannot change them in-place. We can add() and remove() elements.
    Additionally sets enforce uniqueness and do not preserve order.

In [10]:
# Dictionaries
# Dictionary of student scores; update, add
try:
    scores = {"Alice": 85, "Bob": 79, "Charlie": 92}
    print("Task 7 - Original scores:", scores)

    # Update one student's score
    scores["Bob"] = 82
    print("After updating Bob's score to 82:", scores)

    # Add a new student
    scores["Diana"] = 88
    print("After adding Diana:", scores, "\n")
except Exception as e:
    print("Error in Task 7:", e)

Task 7 - Original scores: {'Alice': 85, 'Bob': 79, 'Charlie': 92}
After updating Bob's score to 82: {'Alice': 85, 'Bob': 82, 'Charlie': 92}
After adding Diana: {'Alice': 85, 'Bob': 82, 'Charlie': 92, 'Diana': 88}

In [11]:
# Functions and Lambda
# Regular function and lambda to square a number
try:
    def square(x):
        """Return square of x"""
        return x * x

    square_lambda = lambda x: x * x

    # Demonstrate with at least two inputs
    inputs = [3, 7]
    print("Task 8 - Using regular function and lambda:")
    for n in inputs:
        print(f"{n}^2 (function) = {square(n)}, (lambda) = {square_lambda(n)}")
    print()
except Exception as e:
    print("Error in Task 8:", e)

Task 8 - Using regular function and lambda:
3^2 (function) = 9, (lambda) = 9
7^2 (function) = 49, (lambda) = 49

In [12]:
# Iterators and Generators
# Iterator class (first 5 even numbers) and generator
try:
    class FirstFiveEvensIterator:
        def __init__(self):
            self._count = 0  # how many yielded so far
            self._next_even = 2

        def __iter__(self):
            return self

        def __next__(self):
            if self._count >= 5:
                raise StopIteration
            val = self._next_even
            self._next_even += 2
            self._count += 1
            return val

    def first_five_evens_generator():
        num = 2
        for _ in range(5):
            yield num
            num += 2

    # Using iterator
    it = FirstFiveEvensIterator()
    print("Task 9 - Iterator produced evens:", list(it))

    # Using generator
    gen = first_five_evens_generator()
    print("Generator produced evens:", list(gen))
    print()
except Exception as e:
    print("Error in Task 9:", e)

Task 9 - Iterator produced evens: [2, 4, 6, 8, 10]
Generator produced evens: [2, 4, 6, 8, 10]

In [13]:
# Map, Reduce, and Filter
# map(), reduce(), filter()
try:
    from functools import reduce
    nums = [1, 2, 3, 4, 5]

    # map -> square all numbers
    squared = list(map(lambda x: x*x, nums))
    print("Task 10 - Squared (map):", squared)

    # reduce -> product of all numbers
    product = reduce(lambda a, b: a * b, nums, 1)  # initial 1 safe for empty list
    print("Product (reduce):", product)

    # filter -> only even numbers
    evens = list(filter(lambda x: x % 2 == 0, nums))
    print("Evens (filter):", evens, "\n")
except Exception as e:
    print("Error in Task 10:", e)

Task 10 - Squared (map): [1, 4, 9, 16, 25]
Product (reduce): 120
Evens (filter): [2, 4]

In [14]:
# Object-Oriented Programming
# Rectangle class with area and perimeter
try:
    class Rectangle:
        def __init__(self, length, width):
            if length <= 0 or width <= 0:
                raise ValueError("Length and width must be positive numbers.")
            self.length = length
            self.width = width

        def area(self):
            return self.length * self.width

        def perimeter(self):
            return 2 * (self.length + self.width)

        def __repr__(self):
            return f"Rectangle(length={self.length}, width={self.width})"

    rect1 = Rectangle(4, 6)
    rect2 = Rectangle(5.5, 3)

    print("Task 11 - Rectangle objects and their properties:")
    for r in (rect1, rect2):
        print(f"{r} -> area={r.area()}, perimeter={r.perimeter()}")
    print()
except Exception as e:
    print("Error in Task 11:", e)

Task 11 - Rectangle objects and their properties:
Rectangle(length=4, width=6) -> area=24, perimeter=20
Rectangle(length=5.5, width=3) -> area=16.5, perimeter=17.0

In [15]:
# Pandas Data Analysis
# Pandas analysis on employees DataFrame
try:
    employees = pd.DataFrame({
        "Name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
        "Department": ["HR", "IT", "IT", "Finance", "HR"],
        "Salary": [55000, 72000, 64000, 90000, 62000]
    })
    print("Task 12 - Employees DataFrame:")
    print(employees, "\n")

    # Average salary by department
    avg_by_dept = employees.groupby('Department')['Salary'].mean().reset_index().rename(columns={'Salary':'AverageSalary'})
    print("Average salary by department:")
    print(avg_by_dept, "\n")

    # Names of employees with salary > 60000
    high_earners = employees.loc[employees['Salary'] > 60000, 'Name'].tolist()
    print("Employees with salary > 60000:", high_earners, "\n")

    # Add 'Bonus' column: 10% of salary
    employees['Bonus'] = employees['Salary'] * 0.10
    print("Employees DataFrame with Bonus column:")
    print(employees, "\n")

    # Ensure operations were performed on DataFrame correctly
    assert 'Bonus' in employees.columns
    assert employees.loc[employees['Name']=='Bob', 'Bonus'].iloc[0] == 72000 * 0.10
    print("Task 12 verification passed.\n")
except Exception as e:
    print("Error in Task 12:", e)

Task 12 - Employees DataFrame:
      Name Department  Salary
0    Alice         HR   55000
1      Bob         IT   72000
2  Charlie         IT   64000
3    Diana    Finance   90000
4      Eve         HR   62000

Average salary by department:
  Department  AverageSalary
0    Finance        90000.0
1         HR        58500.0
2         IT        68000.0

Employees with salary > 60000: ['Bob', 'Charlie', 'Diana', 'Eve']

Employees DataFrame with Bonus column:
      Name Department  Salary   Bonus
0    Alice         HR   55000  5500.0
1      Bob         IT   72000  7200.0
2  Charlie         IT   64000  6400.0
3    Diana    Finance   90000  9000.0
4      Eve         HR   62000  6200.0

Task 12 verification passed.